// FONT VARIABLES
$inter: "Inter", sans-serif;

// COLORS 

$bg: #1f1d1f;
$color: #ebe3e3;
$accent: #adadad;
$accent-dark: #585858;

// FONT SIZES

//mobile
// $header: 14.5vw;
$header: min(14.5vw, 7rem);
$subheader: 3rem;
$subheader-small: 2rem;
$text: 1.5rem;
$text-small: 1.2rem;

//desktop
$des-header: 7rem;