// FONT VARIABLES
$inter: "Inter", sans-serif;

// COLORS 

$bg: #1f1d1f;
$color: #ebe3e3;
$accent: #adadad;
$accent-dark: #585858;

// FONT SIZES

//mobile
$header: 14.75vw;

$subheader-big: 4rem;
$subheader: 3rem;
$subheader-small: 2rem;

$text: 1.5rem;
$text-small: 1rem;

//desktop
$des-header: 6rem;
$des-subheader: 3rem;
$des-subheader-small: 2rem;
$des-text: 1rem;

// QUERIES 

$tablet: 550px;
$desktop: 1000px;