@use "../utils" as *;

:root {
    font-family: $inter;
    font-weight: 700;
}

body {
    margin: auto;
    background-color: $bg;
    color: $color;
    height: 100%;
    max-width: 1200px;
}

body.modal_active {
    overflow: hidden;
}

body.modal_active {
    overflow: hidden;
}

section {
    position: relative;
    width: 90%;
    padding-top: 4rem;
    margin-bottom: 4rem;
    margin-inline: auto;

    .section_header {
        display: block;
        overflow: hidden;
        height: max($header, 5rem);

        font-size: max($header, 3.25rem);
        line-height: 1;

        span {
            position: relative;
            top: min($header, 5rem);
        }
    }

    .section_header.visible {

        span {
            animation: load 700ms forwards;
        }
    }
}

@media (min-width: 1000px) {
    section {
        margin-bottom: 8rem;

        .section_header {
            height: $des-header;
            font-size: $des-header;
            width: fit-content;
        }
    }
}