@use "../utils" as *;

#contact {
    display: grid;
    gap: 4rem;

    padding-bottom: 4rem;

    h3 {
        font-size: $subheader-small;
        text-align: right;

        opacity: 0;
        transform: translate(-10px);
        transition: transform 700ms, opacity 700ms;
    }

    h3.visible {
        opacity: 1;
        transform: translate(0);
    }

    p {
        font-size: $text-small;

    }

    a {
        font-size: $text-small;

        svg {
            height: 12px;
            width: 12px;
        }
    }

    a:last-child {
        text-align: right;
    }

    a:hover {
        color: $accent;

        svg {
            stroke: $accent;
        }
    }
}

.contact_content {
    display: grid;
    gap: 2rem;
    text-transform: uppercase;
}

@media (width > 500px) {
    #contact {

        .contact_mail {
            display: flex;
            gap: 1rem;
        }

        p {
            font-size: $text;
        }

        a {
            font-size: $text;

            svg {
                height: 18px;
                width: 18px;
            }
        }
    }
}

@media (width > 1000px) {
    #contact {
        gap: 8rem;

        h3 {
            font-size: $subheader;
        }

        p {
            font-size: $subheader-small;

        }

        a {
            font-size: $subheader-small;

            svg {
                height: 22px;
                width: 22px;
            }
        }
    }

}