@use "../utils" as *;

#contact {
    display: grid;
    gap: 4rem;

    h3 {
        font-size: $subheader-small;
        text-align: right;
    }

    p {
        font-size: $text-small;

    }

    a {
        font-size: $text-small;

        svg {
            height: 12px;
            width: 12px;
        }
    }

    a:last-child {
        text-align: right;
    }

    a:hover {
        color: $accent;

        svg {
            stroke: $accent;
        }
    }
}

.contact_content {
    display: grid;
    gap: 2rem;
}

@media (width > 1000px) {
    #contact {
        h3 {
            font-size: $subheader;
        }

        p {
            font-size: $subheader-small;

        }

        a {
            font-size: $subheader-small;

            svg {
                height: 22px;
                width: 22px;
            }
        }
    }

}